
    <div class="container">
        <h1>Login</h1>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>



        <input ng-model="user.username" type="text"
               id="username"
               class="form-control"
               placeholder="username"
               required/>

        <input ng-model="user.password"
               id="password"
               type="password"
               class="form-control"
               placeholder="password"
               required/>

        <a ng-click="model.login(user)"
           class="btn btn-primary
           btn-block">Login</a>
        <a ng-click="model.reg()" class="btn btn-success btn-block">Register</a>
    </div>
